# PHP / Laravel
/vendor
/storage/*.key
/bootstrap/cache/*.php
/public/storage
/public/hot
/.phpunit.cache

# Environment files
.env
.env.*
!.env.example

# Node
/node_modules
npm-debug.log
yarn-error.log
pnpm-debug.log

# Homestead
Homestead.json
Homestead.yaml

# Auth
auth.json

# IDE / Editor
/.idea
/.vscode
/.fleet

# OS
.DS_Store
Thumbs.db
